

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    
}


.page-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .page-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .page-description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  
  .section-image {
   
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .section-content {
    font-size: 18px;
    line-height: 1.5;
  }
  
  
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  color: #000;
  text-decoration: none;
}

  
.download .box-container{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.download .box{
    border: 2px solid blue;
    box-shadow: .5rem .5rem  0 hsl(231, 69%, 60%);;
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}
.download .box:hover{
    border: 2px solid blue;
    box-shadow: none;
}


.download .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: black;
}



.download .box p{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
    color: rgb(112, 185, 190) blue;
}


.all-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: blueviolet;
    border-radius: .5rem;
    color: #000000;
}
/* downloads section ends */
